core/Debug/
core/Release/
core/BlitzTerrain/Resource.aps
core/BlitzTerrain/Debug/
core/BlitzTerrain/Release/
core/BlitzTerrain/Debug_GDK/
core/BlitzTerrain/Release_GDK/
core/ipch/
*.sdf
*.opensdf
*.suo